In [1]:
import pandas as pd
from gobernanza_datos import xlsx_to_csv, df_asingcodes
from datetime import datetime as dt
import numpy as np

In [ ]:
# TODO: Leer excel
df = pd.read_excel('./in/registros.xlsx', header=None)

In [ ]:
df

In [ ]:
df = df.drop(labels=(0))

In [3]:
ubi = "./in/documento_original.csv"

In [ ]:
df.to_csv(ubi, header=None, sep=',', index=False)

In [4]:
df = pd.read_csv(ubi)

C:\Users\Personal\AppData\Local\Temp\ipykernel_3796\2000103150.py:1: DtypeWarning: Columns (4,95,98,102,109,121) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(ubi)

In [5]:
df

,Tipo de registro,Consecutivo de registro,Código de habilitación IPS primaria,Tipodeidentificacióndelusuario,Númerodeidentificacióndelusuario,Primerapellidodelusuario,Segundoapellidodelusuario,Primernombredelusuario,Segundonombredelusuario,FechadeNacimiento,...,Fecha de toma de baciloscopia diagnóstico,Resultado de baciloscopia diagnóstico,Clasificación del riesgo cardiovascular,Tratamiento para sífilis gestacional,Tratamiento para Sífilis Congénita,Clasificación del riesgo metabólico,Fecha de toma triglicéridos,IPS 1,IPS 2,IPS 3
0,2,42525,500010097901,SC,9262947,HEREDIA,VILLALONGA,YULIANA,NONE,1983-05-07 00:00:00,...,1845-01-01,21,21,0,0,21,1800-01-01,Gamma,NaN,NaN
1,2,37883,500010054010,SV,9262947,HEREDIA,VILLALONGA,YULIANA,NONE,1983-05-07 00:00:00,...,1845-01-01,4,0,0,0,21,1800-01-01,Ese Villavicencio,NaN,NaN
2,2,42527,500010097901,SC,9498899,MONTILLA,MORENO,MARIA,DELIA,1965-10-07 00:00:00,...,1845-01-01,21,21,0,0,21,2022-02-02 00:00:00,Gamma,NaN,NaN
3,2,34573,500010054010,SV,9498899,MONTILLA,MORENO,MARIA,DELIA,1965-10-07 00:00:00,...,1845-01-01,4,0,0,0,21,1800-01-01,Ese Villavicencio,NaN,NaN
4,2,46830,503130052201,PE,6071230,GUTIERREZ,PEREZ,YUSNEILA,MARIA,2003-04-29 00:00:00,...,1845-01-01,4,21,0,0,21,1845-01-01,H. Granada,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47264,2,6351,500060016901,MS,69996A9932,MEZA,CACERES,GIANNI,SANTHIAGO,2018-10-16 00:00:00,...,1845-01-01,4,0,0,0,0,1845-01-01,Acacias,NaN,NaN
47265,2,33440,500010054010,CE,E91468,GRECO,BIANCHI,ROBERTO,ERNESTO,1942-09-12 00:00:00,...,1845-01-01,4,0,0,0,21,1800-01-01,Ese Villavicencio,NaN,NaN
47266,2,25163,502510063443,MS,VEN992999,CARRION,LOPEZ,LUNA,LUCIANA,2019-04-02 00:00:00,...,1845-01-01,4,0,0,0,0,1845-01-01,Ese Departamental,NaN,NaN
47267,2,18596,503700063404,AS,VEN21289191,HERNANDEZ,HERNANDEZ,PAOLA,LEONOR,1994-04-15 00:00:00,...,1845-01-01,4,21,0,0,21,1845-01-01,Ese Departamental,NaN,NaN
47268,2,25164,503250063435,AS,VEN6849126,MENDOZA,NONE,NILDA,ROSA,1989-12-27 00:00:00,...,1845-01-01,4,21,0,0,21,1800-01-01,Ese Departamental,NaN,NaN

In [6]:
df_20 = df.iloc[:, :20]

In [7]:
df_20

,Tipo de registro,Consecutivo de registro,Código de habilitación IPS primaria,Tipodeidentificacióndelusuario,Númerodeidentificacióndelusuario,Primerapellidodelusuario,Segundoapellidodelusuario,Primernombredelusuario,Segundonombredelusuario,FechadeNacimiento,Sexo,Código pertenencia étnica,Código de ocupación (toda la población),Código de nivel educativo (toda la población),Gestante,Sífilis Gestacional o congénita,Resultado de la prueba mini - mental state,Hipotiroidismo Congénito,Sintomático respiratorio (toda la población),Consumo de tabaco
0,2,42525,500010097901,SC,9262947,HEREDIA,VILLALONGA,YULIANA,NONE,1983-05-07 00:00:00,F,6,9999,13,2,0,0,0,21,0
1,2,37883,500010054010,SV,9262947,HEREDIA,VILLALONGA,YULIANA,NONE,1983-05-07 00:00:00,F,6,9998,3,2,0,0,0,2,99
2,2,42527,500010097901,SC,9498899,MONTILLA,MORENO,MARIA,DELIA,1965-10-07 00:00:00,F,6,9999,13,2,0,0,0,21,0
3,2,34573,500010054010,SV,9498899,MONTILLA,MORENO,MARIA,DELIA,1965-10-07 00:00:00,F,6,9998,2,2,0,0,0,2,99
4,2,46830,503130052201,PE,6071230,GUTIERREZ,PEREZ,YUSNEILA,MARIA,2003-04-29 00:00:00,F,6,9622,4,1,0,0,0,21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47264,2,6351,500060016901,MS,69996A9932,MEZA,CACERES,GIANNI,SANTHIAGO,2018-10-16 00:00:00,M,6,9998,2,0,0,0,0,2,98
47265,2,33440,500010054010,CE,E91468,GRECO,BIANCHI,ROBERTO,ERNESTO,1942-09-12 00:00:00,M,6,9998,13,0,0,21,0,2,99
47266,2,25163,502510063443,MS,VEN992999,CARRION,LOPEZ,LUNA,LUCIANA,2019-04-02 00:00:00,F,6,9999,13,0,0,0,0,2,98
47267,2,18596,503700063404,AS,VEN21289191,HERNANDEZ,HERNANDEZ,PAOLA,LEONOR,1994-04-15 00:00:00,F,6,9999,13,1,0,0,0,2,98
47268,2,25164,503250063435,AS,VEN6849126,MENDOZA,NONE,NILDA,ROSA,1989-12-27 00:00:00,F,6,9999,1,2,0,0,0,2,99

In [8]:
df_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47269 entries, 0 to 47268
Data columns (total 20 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Tipo de registro                               47269 non-null  int64
 1   Consecutivo de registro                        47269 non-null  int64
 2   Código de habilitación IPS primaria            47269 non-null  int64
 3   Tipodeidentificacióndelusuario                 47269 non-null  object
 4   Númerodeidentificacióndelusuario               47269 non-null  object
 5   Primerapellidodelusuario                       47269 non-null  object
 6   Segundoapellidodelusuario                      47269 non-null  object
 7   Primernombredelusuario                         47269 non-null  object
 8   Segundonombredelusuario                        47269 non-null  object
 9   FechadeNacimiento                              47269 non-null  object
 10  Sexo                                           47269 non-null  object
 11  Código pertenencia étnica                      47269 non-null  int64
 12  Código de ocupación (toda la población)        47269 non-null  int64
 13  Código de nivel educativo (toda la población)  47269 non-null  int64
 14  Gestante                                       47269 non-null  int64
 15  Sífilis Gestacional o congénita                47269 non-null  int64
 16  Resultado de la prueba  mini - mental state    47269 non-null  int64
 17  Hipotiroidismo Congénito                       47269 non-null  int64
 18  Sintomático respiratorio (toda la población)   47269 non-null  int64
 19  Consumo de tabaco                              47269 non-null  int64
dtypes: int64(12), object(8)
memory usage: 7.2+ MB

## EDA - Analisis exploratorio de los datos

In [9]:
# TODO: Datos nulos

df_20.isna().sum()

Tipo de registro                                 0
Consecutivo de registro                          0
Código de habilitación IPS primaria              0
Tipodeidentificacióndelusuario                   0
Númerodeidentificacióndelusuario                 0
Primerapellidodelusuario                         0
Segundoapellidodelusuario                        0
Primernombredelusuario                           0
Segundonombredelusuario                          0
FechadeNacimiento                                0
Sexo                                             0
Código pertenencia étnica                        0
Código de ocupación (toda la población)          0
Código de nivel educativo (toda la población)    0
Gestante                                         0
Sífilis Gestacional o congénita                  0
Resultado de la prueba  mini - mental state      0
Hipotiroidismo Congénito                         0
Sintomático respiratorio (toda la población)     0
Consumo de tabaco                                0
dtype: int64

No existen registros nulos

In [10]:
# Verificacion columna de registro
df_20['Tipo de registro'].unique()

array([2], dtype=int64)

In [11]:
# verificar consecutivo de registro
len(df_20['Consecutivo de registro'].unique())

47268

47.268 columnas con consecutivo unico

In [12]:
# Código de habilitación IPS primaria
len(df_20['Código de habilitación IPS primaria'].unique())

34

34 codigos de habilitación IPS primaria

In [13]:
# Tipodeidentificacióndelusuario
df_20['Tipodeidentificacióndelusuario'].unique()

array(['SC', 'SV', 'PE', 'PT', 'AS', 'CC', 'CN', 'NV', 'MS', 'TI', 'CC ',
       'RC', 'CE', 'RC ', 'PA', 'TI ', 'cc'], dtype=object)

In [14]:
# TODO: elimiar espacios en los tipos de datos
df_20['Tipodeidentificacióndelusuario'] = df_20['Tipodeidentificacióndelusuario'].str.strip()

In [15]:
# TODO: Convertir a mayusculas
df_20['Tipodeidentificacióndelusuario'] = df_20['Tipodeidentificacióndelusuario'].str.upper()

In [16]:
# Tipodeidentificacióndelusuario
df_20['Tipodeidentificacióndelusuario'].unique()

array(['SC', 'SV', 'PE', 'PT', 'AS', 'CC', 'CN', 'NV', 'MS', 'TI', 'RC',
       'CE', 'PA'], dtype=object)

In [17]:
# Númerodeidentificacióndelusuario
len(df_20['Númerodeidentificacióndelusuario'].unique())

40808

40.808 identificaciones diferentes de los usuarios

In [18]:
# FechadeNacimiento
df_20['FechadeNacimiento']

0        1983-05-07 00:00:00
1        1983-05-07 00:00:00
2        1965-10-07 00:00:00
3        1965-10-07 00:00:00
4        2003-04-29 00:00:00
                ...
47264    2018-10-16 00:00:00
47265    1942-09-12 00:00:00
47266    2019-04-02 00:00:00
47267    1994-04-15 00:00:00
47268    1989-12-27 00:00:00
Name: FechadeNacimiento, Length: 47269, dtype: object

In [19]:
x = lambda x: str(x)[:10]
y = lambda y: dt.strptime(y, '%d/%m/%y')
df_20['FechadeNacimiento'] = df_20['FechadeNacimiento'].apply(x)

In [20]:
df_20.sort_values('FechadeNacimiento')

,Tipo de registro,Consecutivo de registro,Código de habilitación IPS primaria,Tipodeidentificacióndelusuario,Númerodeidentificacióndelusuario,Primerapellidodelusuario,Segundoapellidodelusuario,Primernombredelusuario,Segundonombredelusuario,FechadeNacimiento,Sexo,Código pertenencia étnica,Código de ocupación (toda la población),Código de nivel educativo (toda la población),Gestante,Sífilis Gestacional o congénita,Resultado de la prueba mini - mental state,Hipotiroidismo Congénito,Sintomático respiratorio (toda la población),Consumo de tabaco
28277,2,45250,500010097901,CC,1129383643,MORALES,AGUIRRE,ANYI,YULIETH,1198-01-20,F,6,9999,13,0,0,21,0,21,0
3251,2,42755,500010097901,CC,12116849,ROA,PENA,FERNANDO,NONE,1595-07-28,M,6,9999,13,0,0,21,0,21,0
1384,2,42391,500010097901,CC,3299669,ORTIZ,NONE,LUIS,MARIA,1916-12-31,M,6,9999,13,0,0,21,0,21,0
6194,2,33453,500010054010,CC,21191633,RUIZ,AREVALO,EMMA,NONE,1918-12-30,F,6,9210,2,0,0,21,0,2,99
1049,2,42327,500010097901,CC,3994999,SANCHEZ,BENAVIDES,LEONIDAS,NONE,1918-12-31,M,6,9999,13,0,0,21,0,21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20251,2,46750,503130052201,CN,191996839,HIJADEREYES,BUITRAGO,ANGELA,NATALIA,2022-03-31,F,6,9998,13,0,0,0,0,21,98
20250,2,46749,503130052201,CN,191996826,HIJODEBARBOSA,MONA,LIZETH,MARYURI,2022-03-31,M,6,9998,13,0,0,0,0,21,98
20331,2,46807,503130052201,CN,191914619,CASTILLO,CASALLAS,HIJADEGINNA,MARIELA,2022-03-31,F,6,9998,13,0,0,0,0,21,98
20333,2,46809,503130052201,CN,191914633,HIJADERIVERA,CAMPOS,DOLLY,NONE,2022-03-31,F,6,9998,13,0,0,0,0,21,98
20332,2,46808,503130052201,CN,191914626,MEDINA,SANTOS,HIJODSOLANYI,NONE,2022-03-31,M,6,9998,13,0,0,0,0,21,98

### Verificacion de Nombres

In [27]:
df_20['NombreCompleto'] = df_20['Primerapellidodelusuario'] + ' ' + df_20['Segundoapellidodelusuario'] + ' ' + df_20['Primernombredelusuario'] + ' ' + df_20['Segundonombredelusuario']

In [29]:
df_20['AnomaliasNombre'] = df_20['NombreCompleto'].str.isalpha()

In [36]:
mask = df_20['AnomaliasNombre'] == True
df_20[mask].shape

(0, 24)

### Asegurarse que los nombres no tengan espacios

In [39]:
df_20['Primerapellidodelusuario'] = df_20['Primerapellidodelusuario'].str.strip()
df_20['Segundoapellidodelusuario'] = df_20['Segundoapellidodelusuario'].str.strip()
df_20['Primernombredelusuario'] = df_20['Primernombredelusuario'].str.strip()
df_20['Segundonombredelusuario'] = df_20['Segundonombredelusuario'].str.strip()

In [21]:
x = lambda x: int(str(x)[:4])
df_20['AnioNacimiento'] = df_20['FechadeNacimiento'].apply(x)

In [22]:
df_20['AnomaliasAnio'] = (df_20['AnioNacimiento'] < 1900) | (df_20['AnioNacimiento'] > 2022)

In [23]:
df_20.sort_values('AnioNacimiento')

,Tipo de registro,Consecutivo de registro,Código de habilitación IPS primaria,Tipodeidentificacióndelusuario,Númerodeidentificacióndelusuario,Primerapellidodelusuario,Segundoapellidodelusuario,Primernombredelusuario,Segundonombredelusuario,FechadeNacimiento,...,Código de ocupación (toda la población),Código de nivel educativo (toda la población),Gestante,Sífilis Gestacional o congénita,Resultado de la prueba mini - mental state,Hipotiroidismo Congénito,Sintomático respiratorio (toda la población),Consumo de tabaco,AnioNacimiento,AnomaliasAnio
28277,2,45250,500010097901,CC,1129383643,MORALES,AGUIRRE,ANYI,YULIETH,1198-01-20,...,9999,13,0,0,21,0,21,0,1198,True
3251,2,42755,500010097901,CC,12116849,ROA,PENA,FERNANDO,NONE,1595-07-28,...,9999,13,0,0,21,0,21,0,1595,True
1384,2,42391,500010097901,CC,3299669,ORTIZ,NONE,LUIS,MARIA,1916-12-31,...,9999,13,0,0,21,0,21,0,1916,False
1049,2,42327,500010097901,CC,3994999,SANCHEZ,BENAVIDES,LEONIDAS,NONE,1918-12-31,...,9999,13,0,0,21,0,21,0,1918,False
6194,2,33453,500010054010,CC,21191633,RUIZ,AREVALO,EMMA,NONE,1918-12-30,...,9210,2,0,0,21,0,2,99,1918,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39399,2,10306,500010074901,RC,1122641918,VILLALOBOS,GUIZA,LUCIANA,NONE,2022-03-05,...,9999,13,0,0,0,0,21,98,2022,False
20073,2,6341,500060016901,NV,199994269,LOZANO,AYALA,HIJADEMARTHA,LUCIA,2022-01-26,...,9998,13,0,0,0,0,2,98,2022,False
20072,2,6340,500060016901,NV,199994241,RUEDA,VIRGUEZ,HIJODEMARYI,YIRED,2022-01-25,...,9998,13,0,0,0,0,2,98,2022,False
20070,2,17244,503250063435,NV,199994168,CUADROS,BENAVIDES,HIJADEVANESSA,ALEXANDRA,2022-01-26,...,9998,13,0,0,0,0,2,98,2022,False
20325,2,46828,503130052201,MS,191914423,HIJADEMONTERO,RIVERA,YEIMI,LUCIA,2022-03-29,...,9998,13,0,0,0,0,21,98,2022,False

### Campo de sexo

In [24]:
df_20['Sexo'].unique()

array(['F', 'M', 'F   ', 'M   '], dtype=object)

In [25]:
# TODO: Borar espacios innecesarios
df_20['Sexo'] = df_20['Sexo'].str.strip()

In [26]:
df_20['Sexo'].unique()

array(['F', 'M'], dtype=object)

### Codigo de pertenencia etnica

In [41]:
# Código pertenencia étnica
df_20['Código pertenencia étnica'].unique()

array([6, 2, 1, 3, 5, 4], dtype=int64)

### Codigo de Ocupacion

In [48]:
# Código de ocupación (toda la población)
df_20['Código de ocupación (toda la población)'].unique()

array([9999, 9998, 9622, 9210, 1211, 6111, 6310, 9111, 8324, 5142, 9313,
       3443, 1110, 9131, 1426, 1424, 6113, 8321, 7112, 7732, 7213, 8323,
       8332, 4211, 2142, 8322, 9112, 5211, 7211, 7322, 9333, 2320, 5311,
       7119, 7316, 5341, 6114, 6112, 5212, 5122, 9411, 2455, 2652, 5221,
       7536, 7422, 6121, 9211, 5121, 7723, 2151, 9143, 1221, 7111, 9120,
       9312, 7313, 1261, 3414, 7226, 7411, 3480, 2441, 7115, 1420, 9133,
       2453, 4214, 1143, 9311, 6211, 7321, 3212, 2412, 3227, 7521, 2451,
       2631, 7231, 7212, 1421, 3333, 6330, 3115, 3123, 3339, 7549, 5249,
       2313, 5320, 2311, 2213, 4141, 5141, 2221, 4222, 9121, 9132, 9510,
       8271, 5246, 7714, 8157, 7711, 6222, 9221, 9212, 3434, 9412, 9322,
       4123, 8251, 4113, 5131, 7523, 4215, 7722, 4122, 5245, 5414, 3312,
       4223, 9612, 5132, 9520, 4131, 1219, 4416, 3471, 3131, 3100, 2163,
       7725, 3253, 9629, 7531, 9129, 4221, 3460, 1113, 2452, 7242, 2460,
       7314, 2352, 1112, 2333, 9329, 7122, 6213, 2330, 5111, 3341, 4419,
       3221, 3322, 5230, 2351, 2421, 8232, 2514, 3512, 7522, 1130, 5243,
       3472, 5151, 2356, 3213, 4224, 3152, 2635, 4110, 3359, 1121, 7512,
       5120, 8290, 2411, 2226, 5223, 3214, 2434, 2422, 3433, 7721, 2122,
       9113, 4213, 7412, 2222, 1419, 1122, 8312, 3231, 3353, 7434, 7114],
      dtype=int64)

In [53]:
df_20['AnomaliasCodigoOcupacion'] = (df_20['Código de ocupación (toda la población)'] < 101) | (df_20['Código de ocupación (toda la población)'] > 10000)

### Código de nivel educativo (toda la población)

In [55]:
# Código de nivel educativo (toda la población)
df_20['Código de nivel educativo (toda la población)'].unique()

array([13,  3,  2,  4,  7,  1,  5,  9, 10,  0,  6, 12,  8, 11],
      dtype=int64)

### Gestante

In [57]:
df_20['Gestante'].unique()

array([ 2,  1, 21,  0], dtype=int64)

In [60]:
df_20['AnomaliaGestante'] = (df_20['Sexo'] == 'M') & (df_20['Gestante'] != 0)

In [66]:
mask = df_20['AnomaliaGestante'] == True
df_20[mask].iloc[:, 5:17]

,Primerapellidodelusuario,Segundoapellidodelusuario,Primernombredelusuario,Segundonombredelusuario,FechadeNacimiento,Sexo,Código pertenencia étnica,Código de ocupación (toda la población),Código de nivel educativo (toda la población),Gestante,Sífilis Gestacional o congénita,Resultado de la prueba mini - mental state
1168,VALERO,CARVAJAL,VICTOR,MANUEL,1970-12-28,M,6,9999,2,2,0,0
27324,SANTAFE,RAMIREZ,ALEXANDER,NONE,2009-08-28,M,6,9998,1,2,0,0
45592,LEGUIZAMO,MENDOZA,ALEX,GILBERTO,2007-10-05,M,6,9998,3,2,0,0