In [2]:
import pandas as pd
import numpy as np
from extract import extract_xlsx

In [3]:
files_path = './in/*.xlsx'

In [ ]:
# TODO: Extracción de datos

df = extract_xlsx(files_path)

---------------------------------------------

In [174]:
df = pd.read_csv('./in/total_rows.csv')

C:\Users\Personal\AppData\Local\Temp\ipykernel_3496\852513943.py:1: DtypeWarning: Columns (4,95,98,102,109,121) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./in/total_rows.csv')

In [175]:
df_columns = df.columns

In [176]:
df.iloc[:10, :10]

,Tipo de registro,Consecutivo de registro,Código de habilitación IPS primaria,Tipodeidentificacióndelusuario,Númerodeidentificacióndelusuario,Primerapellidodelusuario,Segundoapellidodelusuario,Primernombredelusuario,Segundonombredelusuario,FechadeNacimiento
0,2.0,42525.0,5.000101e+11,SC,9262947.0,HEREDIA,VILLALONGA,YULIANA,NONE,1983-05-07 00:00:00
1,2.0,37883.0,5.000101e+11,SV,9262947.0,HEREDIA,VILLALONGA,YULIANA,NONE,1983-05-07 00:00:00
2,2.0,42527.0,5.000101e+11,SC,9498899.0,MONTILLA,MORENO,MARIA,DELIA,1965-10-07 00:00:00
3,2.0,34573.0,5.000101e+11,SV,9498899.0,MONTILLA,MORENO,MARIA,DELIA,1965-10-07 00:00:00
4,2.0,46830.0,5.031301e+11,PE,6071230.0,GUTIERREZ,PEREZ,YUSNEILA,MARIA,2003-04-29 00:00:00
5,2.0,15968.0,5.031301e+11,PT,6071230.0,GUTIERREZ,PEREZ,YUSNEILA,MARIA,2003-04-29 00:00:00
6,2.0,43685.0,5.000101e+11,AS,28411269.0,ROBLES,ARDILA,HERLINDA,NONE,1970-09-05 00:00:00
7,2.0,35833.0,5.000101e+11,CC,28411269.0,ROBLES,ARDILA,HERLINDA,NONE,1970-09-05 00:00:00
8,2.0,47220.0,5.000101e+11,AS,90397372.0,ARENAS,GUALTEROS,ALBA,NUBIA,1970-12-15 00:00:00
9,2.0,12082.0,5.000101e+11,CC,90397372.0,ARENAS,GUALTEROS,ALBA,NUBIA,1970-12-15 00:00:00

### Convertir tipos de dato a cadena

In [177]:
# ['yes' if v == 1 else 'no' if v == 2 else 'idle' for v in l]

In [178]:
def Float_to_string(df, column_index):
    columns = df.columns
    for ind in column_index:
        df[columns[ind]] = df[columns[ind]].fillna('Sin Dato')
        df[columns[ind]] = [int(i) if type(i) == float or type(i) == int else i for i in df[columns[ind]]]
    return df

In [179]:
def Float_to_int(df, columns_index):
    def is_float(element):
        try:
            float(element)
            return True
        except ValueError:
            return False
    columns = df.columns
    for ind in columns_index:
        df[columns[ind]] = df[columns[ind]].fillna(-1)
        df[columns[ind]] = [int(str(i).split('.')[0]) if is_float(i) else -1 for i in df[df_columns[ind]]]
    return df

In [180]:
def Only_date(df, columns_index):
#   df['just_date'] = df['dates'].dt.date
    columns = df.columns
    for ind in columns_index:
        df[columns[ind]] = pd.to_datetime(df[columns[ind]])
        df[columns[ind]] = df[columns[ind]].dt.date
    return df

In [181]:
columns_ind = [4]

df = Float_to_string(df, columns_ind)

In [182]:
columns_ind = [0, 1, 2, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
               21, 22, 23, 24, 25, 26, 27, 28, 34, 35, 36, 37, 38,
               39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 54, 57, 59,
               60, 61, 70, 71, 74, 77, 79, 81, 83, 85, 86, 88, 89,
               90, 92, 94, 95, 97, 98, 101, 102, 113, 114, 115, 116,
               117
]

df = Float_to_int(df, columns_ind)

In [183]:
columns_ind = [9]

df = Only_date(df, columns_ind)

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1595-07-28 00:00:00

In [ ]:
df.iloc[:10, 9].dtype

dtype('O')

In [ ]:
valuess = df[df_columns[107]].unique()

print(valuess)

[8.300e-01 9.980e+02 6.200e-01 0.000e+00 5.800e-01 5.700e-01 3.600e-01
 5.600e-01 7.900e-01 7.000e-01 4.100e-01 6.600e-01 7.700e-01 1.250e+00
 7.200e-01 7.500e-01 4.700e-01 5.000e-01 8.100e-01 1.390e+00 1.010e+00
 1.090e+00 1.100e+00 1.460e+00 8.400e-01 1.260e+00 1.380e+00 1.230e+00
 1.290e+00 1.720e+00 1.310e+00 1.150e+00 1.030e+00 1.350e+00 1.690e+00
 8.200e-01 1.000e+00 1.070e+00 1.040e+00 9.900e-01 8.600e-01 1.890e+00
 1.710e+00 1.270e+00 1.190e+00 1.400e+00 8.800e-01 1.500e+00 1.440e+00
 1.180e+00 6.000e-01 9.300e-01 9.400e-01 1.370e+00 1.080e+00 9.100e-01
 8.900e-01 9.200e-01 1.930e+00 1.050e+00 1.480e+00 1.650e+00 1.360e+00
 1.620e+00 1.420e+00 2.710e+00 1.830e+00 5.680e+00 8.500e-01 9.600e-01
 1.660e+00 1.320e+00 1.450e+00 1.130e+00 7.400e-01 3.940e+00 1.200e+00
 3.300e+00 3.020e+00 6.900e-01 1.120e+00 1.550e+00 1.170e+00 1.430e+00
 9.700e-01 1.210e+00 1.590e+00 1.520e+00 9.500e-01 9.800e-01 1.280e+00
 1.140e+00 1.160e+00 1.530e+00 1.140e+01 6.700e-01 2.290e+00 1.330e+00
 1.730e+00 1.110e+00 1.470e+00 2.300e+00 1.220e+00 2.280e+00 7.800e-01
 1.800e+00 1.870e+00 1.970e+00 8.700e-01 1.600e+00 2.590e+00 1.820e+00
 1.700e+00 1.020e+00 1.300e+00 1.810e+00 1.060e+00 2.500e-01 9.000e-01
 7.600e-01 1.240e+00 1.410e+00 7.300e-01 1.740e+00 6.800e-01 1.570e+00
 8.000e-01 1.560e+00 6.100e-01 2.880e+00 1.920e+00 1.340e+00 1.670e+00
 1.580e+00 2.050e+00 2.310e+00 4.390e+00 1.490e+00 7.100e-01 6.500e-01
 2.150e+00 3.500e-01 1.510e+00 1.950e+00 3.430e+00 6.300e-01 9.000e-02
 1.540e+00 1.680e+00 3.050e+00 7.170e+00 1.840e+00 6.457e+01 4.200e-01
 1.100e-01 2.270e+00 1.790e+00 5.500e-01 2.330e+00 2.580e+00 2.790e+00
 1.630e+00 6.400e-01 2.830e+00 2.170e+00 2.430e+00 3.600e+00 9.140e-01
 1.000e-01 6.000e+00 5.200e-01 5.560e+00 2.900e+00 3.820e+00 3.290e+00
 4.170e+00 1.760e+00 3.700e+00 2.130e+00 2.920e+00 3.880e+00 7.180e+00
 5.900e-01 5.400e-01 4.600e-01 2.740e+00 1.750e+00 4.400e-01 1.610e+00
 5.300e-01 7.050e+00 5.100e-01 4.300e-01 2.030e+00 4.100e+00 3.000e-01
 4.900e-01 4.000e-01 3.700e-01 6.400e+00 4.800e-01 1.860e+00 2.700e-01
 2.000e+00 1.910e+00 7.100e+01 6.430e+00 4.740e+00 9.150e+00 3.200e-01
 1.900e+00 2.660e+00 4.500e-01 3.900e-01 2.400e+00 2.800e-01 2.400e-01
 1.300e+01 3.280e+00 2.140e+00 2.500e+00 5.300e+01 1.640e+00 1.980e+00
 3.960e+00 2.350e+00 3.800e-01 2.120e+00 7.910e+00 4.770e+00 4.140e+00
 3.300e-01 3.550e+00 1.270e+01 6.000e-02 2.490e+00 3.720e+00 3.400e-01
 1.310e+01 3.900e+00 2.000e-01 2.900e-01 3.100e-01 6.200e+01 2.300e-01
 1.800e-01 2.100e-01]

In [ ]:
# TODO: Tratamiento de duplicados
# TODO: Tratamiento de nombres con caracteres anormales
# TODO: Fechas acordes a las reglas
# TODO: Funciones de cada columna registrando anormalidades